openapi: 3.0.3
info:
  title: EquipmentCloud REST API
  description: 'REST API documentation for EquipmentCloud (Kontron AIS). Endpoints use either HTTP Basic Authentication, a
    Bearer access token (obtained via Portal API GET /auth/account, /auth/idprovider or /auth/token), or OAuth2-style Bearer
    tokens, depending on the module - see each operation''s security requirement. Server: https://eqcloud.kontron-ais.com'
  version: 1.1.0
  contact:
    name: Kontron AIS
    url: https://eqcloud.kontron-ais.com
servers:
- url: https://eqcloud.kontron-ais.com/{container}
  description: EquipmentCloud Production Server
  variables:
    container:
      default: C168170000
      description: Global container/mandant prefix used in all API calls (demo default).
components:
  securitySchemes:
    BasicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication (username:password)
    BearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication, used for endpoints marked Bearer or OAUTH2 in the documentation. Tokens are
        obtained via Portal API 1.0 (BA) GET /auth/account (login), GET /auth/idprovider (identity-provider login exchange),
        or refreshed via GET /auth/token.
security:
- BasicAuth: []
- BearerAuth: []
tags:
- name: Checklists
  description: Checklists API operations
- name: DeviceManagement
  description: DeviceManagement API operations
- name: EquipmentHub
  description: EquipmentHub API operations
- name: Maintenance
  description: Maintenance API operations
- name: Monitoring
  description: Monitoring API operations
- name: OpenIssues
  description: OpenIssues API operations
- name: Portal
  description: Portal API operations
- name: SoftwareCenter
  description: SoftwareCenter API operations
- name: SpareParts
  description: SpareParts API operations
- name: SparePartsPro
  description: SparePartsPro API operations
- name: UserManagement
  description: UserManagement API operations
- name: eDocs
  description: eDocs API operations
paths:
  /cloudconnect/api/checklists/v1/instance/{checklist_id}:
    get:
      tags:
      - Checklists
      summary: 'Checklists API 1.0 (BA) This interface returns a instantiated checklist which is used by a scheduled'
      description: |-
        This interface returns a instantiated checklist which is used by a scheduled maintenance or executed workflows.
        
        ### Headers
        
        <ul><li><b>Authorization</b>: Basic/Bearer Authentication is used (user account or token of EquipmentCloud<sup>&reg;</sup>) [string]</li><li><b>lang</b>: Language of the returned translatable content. Possible language tags can be requested by the API interface portal/v1/translation/languages.Set to 'user_language' to use the configured preferred language of the user. If not defined, the original content is returned. [string]</li></ul>
        
        ### Notes
        
        Response JSON <i>items</i>
        <ul>
        <li><b>hierarchy_type</b> / <b>hierarchy_id</b>: Type (i.e. <b>things</b>) and ID of the element to which the maintenance belongs. [string]</li>
        <li><b>checklist_id</b>: ID to identify the instantiated checklist. Used for API calls at <i>/cloudconnect/api/checklist/v1/instance/:checklist_id</i> [number]</li>
        <li><b>app_alias</b>: Alias (maintenance or workflows) of the application the checklist instance is used. [string]</li>
        <li><b>name</b> / <b>category</b> : Aditional information. [string]</li>
        <li><b>finished</b> / <b>ts_finished</b> : Indicates that all tasks have been executed and the checklist has been completed. [boolean/time ISO8601]</li>
        <li><b>build</b> : The current build number of the template can be compared with the build number of generated checklists to determine if an instance is up-to-date or can be upgraded. [number]</li>
        <li><b>duration</b>: Expected duration of the checklist in seconds. Empty if not set. [number]</li>
        <li><b>effort</b>: Planned effort of the checklist in seconds. Empty if not set. [number]</li>
        <li><b>checklist_template</b>: Referenced predefined checklist templates from which the current checklist was generated. Empty if the template has been deleted [object]</li>
        <li><b>modules</b>: List of all activated modules in the checklist, which are assigned to corresponding tasks and parameters. Empty if there are no modules activated. [Array of strings]
        <li><b>attachments</b>: List of all files that are globally attached to the checklist or to an single task and are needed when filling out the checklist. Empty if there are no files. If the attribute <b>optional</b> is true for an attachment, then it is an additional file uploaded by the user when filling a task. <b>removed</b> is set to true when the file is not avilable any more. [Array of objects] An object contains e.g. name, mime type and internal id of the file. To get the file use the provided <b>download_link</b> or the <b>file_id</b> with API call <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/files/:file_id</i></li>
        <li><b>groups</b>: A flat list of all task groups in the checklist. The groups are hierarchically structured. The first group represents the root of this hierarchy. All groups can have further subgroups. [Array of objects]. <ul>The <b>group_id</b> identifies the group itself in the hierarchy</li><li><b>child_groups</b>: A list of all group IDs which are directly under the current group. [Array of objects]</li>
        <li><b>parent_group_id</b>: ID of the group which is directly above the current group. Empty if the current is the root of the hierarchy [number]</li></ul><li><b>tasks</b>: List of all tasks in the current task group. Empty if there are no tasks. [Array of objects] The <b>task_id</b> is used for API calls at <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/tasks/:task_id</i></li>
        <ul><li><b>state</b>: The state of a task can set to <i>open</i>, <i>finished</i> or <i>skipped</i>. A task can only be finished if all required parameters have been filled in. You can skip the task if it is marked as <b>optional</b>. To be able to open it again, the checklist must not have been finished and you need the appropriate authorization. [string]</li>
        <li><b>comments</b>: You can optionally leave a comment when executing the task. [string]</li>
        <li><b>description</b>: Description to fulfill a task. [string]</li>
        <li><b>instructions</b>: Instructions for the task. [string]</li>
        <li><b>updated_by</b> / <b>updated_on</b> : Indicates who and when worked on the task last. [string/time ISO8601]</li>
        <li><b>module</b>: If an associated module is defined on a task or parameter, it must first be activated in an instantiated checklist so that the task or parameter is also available there. [string]</li>
        <li><b>optional</b>: Specifies whether a complete task or a single parameter may be skipped when filling out a checklist. Otherwise these are required when filling in the checklist. [boolean]</li>
        <li><b>skill</b>: Specifies whether a task can only be finished by a user with a specific skill. This could be important for audits, for example. [object]</li>
        <li><b>employees</b>: Needed number of employees. Empty if not set. [number]</li>
        <li><b>duration</b>: Expected duration of the taskin seconds. Empty if not set. [number]</li>
        <li><b>effort</b>: Planned effort of the task in seconds. Empty if not set. [number]</li></ul>
        <li><b>parameters</b>: List of parameters in the current task. All required (not optional) parameters must be filled in to finish a task. Empty if there are no parameters. [Array of objects] <ul>The <b>parameter_id</b> identifies the parameter itself in the current task</li>
        <li><b>issues</b>: List of all issues that have occurred while working on the task. [Array of objects] The <b>issue_id</b> is used for API calls at <i>/cloudconnect/api/openissues/v1/issues/:issue</i></li>
        <li><b>label</b>: Name or label of the parameter.</li><li><b>optional</b>: Parameter can be omitted or not.</li><li><b>type</b>: Type of the parameter. Possible are <i>text</i>, <i>number</i>, <i>boolean</i>, <i>date</i>, <i>file</i> and <i>selection</i>. [string]</li>
        <li><b>value_string</b> / <b>value_number</b> / <b>value_boolean</b> / <b>value_date</b> / <b>value_selection</b> / <b>value_file</b> : Which value attribute is applicable depends on the corresponding <b>type</b> of a parameter. The values of all required parameters must be filled in to finish a task. To set a parameter of type <i>file</i>, upload a file at <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/tasks/:task_id/files</i> [string/number/boolean/time ISO8601/string/object]</li>
        The <b>value_file</b> [object] contains e.g. name, mime type and internal id of the file. To get the file use the provided <b>download_link</b>. The link depends on <b>readonly</b> and <b>finished</b> status (readonly = true and unfinished, the file is linked from master data; readonly = false or finished, the file can be downloaded via checklist file download). <li><b>readonly</b>: The parameter is linked with a master data and can only be read.</li><li><b>min</b> / <b>max</b> (type = <i>number</i> required) : Optional lower/upper limit value for a parameter which has to be respected to finish the task. [number]</li>
        <li><b>regex</b> (type = <i>string</i> required) : A regular expression of type HTML5 pattern to define the format of the parameter. Search the internet for more detailed information on regular HTML5 pattern expressions. [string]</li>
        <li><b>selection</b> (type = <i>selection</i> required) : List of key/value pairs which are available for selecting the parameter. [Array of objects]</li>
        <li><b>link_type</b>: Specifies the type of the link.<ul>
        <li>document: Document</li>
        <li>knowledge_base_topic: Knowledgebase Topic</li>
        <li>issue: Open Issue</li>
        <li>software_set: Software Set</li>
        <li>maintenance_checklist: Maintenance Checklist</li>
        <li>workflows_checklist: Workflows Checklist</li>
        <li>spare_part: Spare Part</li>
        <li>journal: EquipmentHub Journal</li>
        <li>external: External web link</li>
        </ul></li></ul></ul>
      operationId: get_Checklists_instance_checklist_id
      security:
      - BasicAuth: []
      parameters:
      - name: checklist_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of checklist_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  'items':
                    type: array
                    items:
                      type: object
                      properties:
                        'hierarchy_type':
                          type: string
                        'hierarchy_id':
                          type: string
                        'checklist_id':
                          type: integer
                        'app_alias':
                          type: string
                        'name':
                          type: string
                        'finished':
                          type: boolean
                        'ts_finished':
                          type: string
                          format: date-time
                        'build':
                          type: integer
                        'duration':
                          type: integer
                        'effort':
                          type: integer
                        'checklist_template':
                          type: object
                          properties:
                            'id':
                              type: integer
                            'name':
                              type: string
                            'build':
                              type: integer
                        'modules':
                          type: array
                          items:
                            type: string
                        'attachments':
                          type: array
                          items:
                            type: object
                            properties:
                              'download_link':
                                type: string
                              'file_id':
                                type: integer
                              'name':
                                type: string
                              'mime_type':
                                type: string
                              'last_modified':
                                type: string
                                format: date-time
                        'links':
                          type: array
                          items:
                            type: object
                            properties:
                              'link_id':
                                type: integer
                              'link_type':
                                type: string
                              'link_target':
                                type: string
                              'display_name':
                                type: string
                              'created_by':
                                type: string
                              'created_on':
                                type: string
                                format: date-time
                              'updated_by':
                                type: string
                              'updated_on':
                                type: string
                                format: date-time
                        'groups':
                          type: array
                          items:
                            type: object
                            properties:
                              'group_id':
                                type: integer
                              'name':
                                type: string
                              'child_groups':
                                type: array
                                items:
                                  type: integer
        '400':
          description: Bad request
        '401':
          description: UNAUTHORIZED - Login to source failed
          content:
            application/json:
              example:
                result:
                - message: Login to source failed.
        '404':
          description: NOT FOUND - Source is not available or forbidden
          content:
            application/json:
              example:
                result:
                - message: Source is not available or forbidden.
        '406':
          description: NOT ACCEPTABLE - Wrong input of Parameters or Body
          content:
            application/json:
              example:
                result:
                - message: Wrong input of parameters or body.
        '412':
          description: PRECONDITION FAILED - Wrong Parameter value
          content:
            application/json:
              example:
                result:
                - message: Wrong parameter value.
        '500':
          description: SERVER ERROR - Error occurred on server
          content:
            application/json:
              example:
                result:
                - message: Error occurred on server.
      x-rest-doc-ident: '137'
      x-rest-doc-module: 'Checklists API 1.0 (BA)'
      x-rest-doc-template: 'instance/:checklist_id'
      x-rest-doc:
        description: |-
          <b>Checklists API 1.0 (BA)</b><br>
          This interface returns a instantiated checklist which is used by a scheduled maintenance or executed workflows.
        body: ''
        sample_call: ''
        sample_query_parameter: ''
        success_response: '{"items":[{"hierarchy_type":"things","hierarchy_id":"HPC0815","checklist_id":8339,"app_alias":"maintenance","name":"Network Configuration","finished":true,"ts_finished":"2020-06-04T13:37:00Z","build":175,"duration":7200,"effort":14400,"checklist_template":{"id":3002,"name":"Demo Checklists - Network Configuration","build":182},"modules":["Extension A","Extension B","Extension C"],"attachments":[{"download_link":"https://eqcloud.kontron-ais.com/C168170000/cloudconnect/api/checklists/v1/instance/8339/files/76961","file_id":76961,"name":"SI_0815_Router_Manual.pdf","mime_type":"application/pdf","last_modified":"2020-01-20T09:35:03Z"}],"links":[{"link_id":761,"link_type":"issue","link_target":"12","display_name":"#12 My Issue","created_by":"Max Mustermann","created_on":"2020-01-20T09:35:03Z","updated_by":"Max Mustermann","updated_on":"2020-01-20T09:35:03Z"}],"groups":[{"group_id":53110,"name":"Network Configuration","child_groups":[53111,53112]},{"group_id":53111,"name":"Part 1","parent_group_id":53110,"tasks":[{"task_id":489333,"state":"finished","module":"Extension A","modules":["Extension A"],"optional":false,"description":"Count the installed network cards","instructions":"Check the network settings","updated_by":"USER1","updated_on":"2020-06-04T11:31:56Z","parameters":[{"parameter_id":1,"label":"PCI Modules","optional":false,"type":"number","value_number":2,"min":1,"max":4},{"parameter_id":2,"label":"WLAN","optional":true,"type":"boolean","value_boolean":false}]},{"task_id":489334,"state":"finished","optional":false,"description":"Contact the administrator to request an activation","updated_by":"USER2","updated_on":"2020-06-04T11:44:43Z","parameters":[{"parameter_id":1,"label":"Activation date","optional":false,"type":"date","value_date":"2020-06-07T16:30:00Z"}]}]},{"group_id":53112,"name":"Part 2","parent_group_id":53110,"tasks":[{"task_id":489335,"state":"skipped","skill":{"skill_id":42,"name":"Electrician"},"duration":7200,"effort":14400,"employees":2,"optional":true,"comments":"I broke the cable. I took a picture of it.","description":"Connect the LAN cable to a port of your choice","instructions":"Must be on port 1","updated_by":"USER1","updated_on":"2020-06-04T11:56:32Z","attachments":[{"download_link":"https://eqcloud.kontron-ais.com/C168170000/cloudconnect/api/checklists/v1/instance/8339/files/76085","file_id":76085,"name":"reference.png","mime_type":"image/png","last_modified":"2019-02-22T08:39:02Z","removed":true,"optional":false},{"download_link":"https://eqcloud.kontron-ais.com/C168170000/cloudconnect/api/checklists/v1/instance/8339/files/77317","file_id":77317,"name":"CAM_0001.jpg","mime_type":"image/jpeg","last_modified":"2020-06-04T12:45:12Z","optional":true}],"issues":[{"issue_id":4562,"title":"10m CAT5 broken"}],"parameters":[{"parameter_id":1,"label":"Selcted Port","optional":false,"type":"selection","value_selection":"Port A","selection":[{"key":"Port A","value":"Port A"},{"key":"Port B","value":"Port B"},{"key":"Port C","value":"Port C"}]}]},{"task_id":489336,"state":"finished","optional":false,"description":"Configure a free IP address","instructions":"Edit the network config file","updated_by":"USER1","updated_on":"2020-06-04T12:23:11Z","parameters":[{"parameter_id":1,"label":"IP address (i.e. 192.168.0.1)","optional":false,"type":"text","value_selection":"172.16.33.2","regex":"^(?:[0-9]{1,3}\\.){3}[0-9]{1,3}$"},{"parameter_id":2,"label":"Important values on config dialog to check","optional":true,"module":"Extension B, Extention C","modules":["Extension B","Extension C"],"type":"file","value_file":{"download_link":"https://eqcloud.kontron-ais.com/C168170000/cloudconnect/api/checklists/v1/instance/8339/files/77318","file_id":77318,"name":"Config_dialog_ExtB_important_values.png","mime_type":"image/png","last_modified":"2020-06-04T12:21:33Z"},"readonly":true}]}]}]}]}'
        error_response: ''
        notes: |-
          Response JSON <i>items</i>
          <ul>
          <li><b>hierarchy_type</b> / <b>hierarchy_id</b>: Type (i.e. <b>things</b>) and ID of the element to which the maintenance belongs. [string]</li>
          <li><b>checklist_id</b>: ID to identify the instantiated checklist. Used for API calls at <i>/cloudconnect/api/checklist/v1/instance/:checklist_id</i> [number]</li>
          <li><b>app_alias</b>: Alias (maintenance or workflows) of the application the checklist instance is used. [string]</li>
          <li><b>name</b> / <b>category</b> : Aditional information. [string]</li>
          <li><b>finished</b> / <b>ts_finished</b> : Indicates that all tasks have been executed and the checklist has been completed. [boolean/time ISO8601]</li>
          <li><b>build</b> : The current build number of the template can be compared with the build number of generated checklists to determine if an instance is up-to-date or can be upgraded. [number]</li>
          <li><b>duration</b>: Expected duration of the checklist in seconds. Empty if not set. [number]</li>
          <li><b>effort</b>: Planned effort of the checklist in seconds. Empty if not set. [number]</li>
          <li><b>checklist_template</b>: Referenced predefined checklist templates from which the current checklist was generated. Empty if the template has been deleted [object]</li>
          <li><b>modules</b>: List of all activated modules in the checklist, which are assigned to corresponding tasks and parameters. Empty if there are no modules activated. [Array of strings]
          <li><b>attachments</b>: List of all files that are globally attached to the checklist or to an single task and are needed when filling out the checklist. Empty if there are no files. If the attribute <b>optional</b> is true for an attachment, then it is an additional file uploaded by the user when filling a task. <b>removed</b> is set to true when the file is not avilable any more. [Array of objects] An object contains e.g. name, mime type and internal id of the file. To get the file use the provided <b>download_link</b> or the <b>file_id</b> with API call <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/files/:file_id</i></li>
          <li><b>groups</b>: A flat list of all task groups in the checklist. The groups are hierarchically structured. The first group represents the root of this hierarchy. All groups can have further subgroups. [Array of objects]. <ul>The <b>group_id</b> identifies the group itself in the hierarchy</li><li><b>child_groups</b>: A list of all group IDs which are directly under the current group. [Array of objects]</li>
          <li><b>parent_group_id</b>: ID of the group which is directly above the current group. Empty if the current is the root of the hierarchy [number]</li></ul><li><b>tasks</b>: List of all tasks in the current task group. Empty if there are no tasks. [Array of objects] The <b>task_id</b> is used for API calls at <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/tasks/:task_id</i></li>
          <ul><li><b>state</b>: The state of a task can set to <i>open</i>, <i>finished</i> or <i>skipped</i>. A task can only be finished if all required parameters have been filled in. You can skip the task if it is marked as <b>optional</b>. To be able to open it again, the checklist must not have been finished and you need the appropriate authorization. [string]</li>
        notes2: |-
          <li><b>comments</b>: You can optionally leave a comment when executing the task. [string]</li>
          <li><b>description</b>: Description to fulfill a task. [string]</li>
          <li><b>instructions</b>: Instructions for the task. [string]</li>
          <li><b>updated_by</b> / <b>updated_on</b> : Indicates who and when worked on the task last. [string/time ISO8601]</li>
          <li><b>module</b>: If an associated module is defined on a task or parameter, it must first be activated in an instantiated checklist so that the task or parameter is also available there. [string]</li>
          <li><b>optional</b>: Specifies whether a complete task or a single parameter may be skipped when filling out a checklist. Otherwise these are required when filling in the checklist. [boolean]</li>
          <li><b>skill</b>: Specifies whether a task can only be finished by a user with a specific skill. This could be important for audits, for example. [object]</li>
          <li><b>employees</b>: Needed number of employees. Empty if not set. [number]</li>
          <li><b>duration</b>: Expected duration of the taskin seconds. Empty if not set. [number]</li>
          <li><b>effort</b>: Planned effort of the task in seconds. Empty if not set. [number]</li></ul>
          <li><b>parameters</b>: List of parameters in the current task. All required (not optional) parameters must be filled in to finish a task. Empty if there are no parameters. [Array of objects] <ul>The <b>parameter_id</b> identifies the parameter itself in the current task</li>
          <li><b>issues</b>: List of all issues that have occurred while working on the task. [Array of objects] The <b>issue_id</b> is used for API calls at <i>/cloudconnect/api/openissues/v1/issues/:issue</i></li>
          <li><b>label</b>: Name or label of the parameter.</li><li><b>optional</b>: Parameter can be omitted or not.</li><li><b>type</b>: Type of the parameter. Possible are <i>text</i>, <i>number</i>, <i>boolean</i>, <i>date</i>, <i>file</i> and <i>selection</i>. [string]</li>
          <li><b>value_string</b> / <b>value_number</b> / <b>value_boolean</b> / <b>value_date</b> / <b>value_selection</b> / <b>value_file</b> : Which value attribute is applicable depends on the corresponding <b>type</b> of a parameter. The values of all required parameters must be filled in to finish a task. To set a parameter of type <i>file</i>, upload a file at <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/tasks/:task_id/files</i> [string/number/boolean/time ISO8601/string/object]</li>
          The <b>value_file</b> [object] contains e.g. name, mime type and internal id of the file. To get the file use the provided <b>download_link</b>. The link depends on <b>readonly</b> and <b>finished</b> status (readonly = true and unfinished, the file is linked from master data; readonly = false or finished, the file can be downloaded via checklist file download). <li><b>readonly</b>: The parameter is linked with a master data and can only be read.</li><li><b>min</b> / <b>max</b> (type = <i>number</i> required) : Optional lower/upper limit value for a parameter which has to be respected to finish the task. [number]</li>
          <li><b>regex</b> (type = <i>string</i> required) : A regular expression of type HTML5 pattern to define the format of the parameter. Search the internet for more detailed information on regular HTML5 pattern expressions. [string]</li>
          <li><b>selection</b> (type = <i>selection</i> required) : List of key/value pairs which are available for selecting the parameter. [Array of objects]</li>
          <li><b>link_type</b>: Specifies the type of the link.<ul>
          <li>document: Document</li>
          <li>knowledge_base_topic: Knowledgebase Topic</li>
          <li>issue: Open Issue</li>
          <li>software_set: Software Set</li>
          <li>maintenance_checklist: Maintenance Checklist</li>
          <li>workflows_checklist: Workflows Checklist</li>
          <li>spare_part: Spare Part</li>
          <li>journal: EquipmentHub Journal</li>
          <li>external: External web link</li>
          </ul></li></ul></ul>
      x-error-response-reference: PKG_REST_DOC standard block (401/404/406/412/500)
    post:
      tags:
      - Checklists
      summary: 'Checklists API 1.0 (BA) This interface updates a checklist with its tasks'
      description: |-
        This interface updates a checklist with its tasks. You can set all parameters and the states of each task or add a comment to them. If all requirements are met, you can finish the checklist or, if necessary, reopen it.
        
        ### Headers
        
        <ul><li><b>Authorization</b>: Basic/Bearer Authentication is used (user account or token of EquipmentCloud<sup>&reg;</sup>) [string]</li></ul>
        
        ### Notes
        
        <p>To be allowed to fill a task, you need the required authorizations.
        If the passed parameters are invalid or not all requirements are met, a error message is returned.
        If a parameter is marked as <b>readonly</b>, the parameter does not have to be transferred, but can be transferred. The value of such parameter is updated by other parameter or status updates.</p>
        <p>
        Request JSON for checklist
        <ul>
        <li><b>state</b>: The state of a checklist can set to <i>open</i> or <i>finished</i>. A checklist can only be finished if all tasks have been filled in. To be able to open a finished checklist again, you need the appropriate authorization. [string]</li>
        </ul></p>
        <p>
        Request JSON for tasks
        <ul>
        <li><b>state</b>: The state of a task can set to <i>open</i>, <i>finished</i> or <i>skipped</i>. A task can only be finished if all required parameters have been filled in. You can skip the task if it is marked as <b>optional</b>. To be able to open it again, the checklist must not have been finished and you need the appropriate authorization. [string]</li>
        <li><b>value_string</b> / <b>value_number</b> / <b>value_boolean</b> / <b>value_date</b> / <b>value_selection</b> : Which value attribute is applicable depends on the corresponding <b>type</b> of a parameter. The values of all required parameters must be filled in to finish a task. [string/number/boolean/time ISO8601/string]</li>
        <li>To set a parameter of <b>type</b> <i>file</i>, upload a file at <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/tasks/:task_id/files</i></li>
        </ul></p>
      operationId: post_Checklists_instance_checklist_id
      security:
      - BasicAuth: []
      parameters:
      - name: checklist_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of checklist_id'
      requestBody:
        description: Request body (JSON or multipart/form-data depending on endpoint)
        content:
          application/json:
            schema:
              type: object
            example:
              'state': 'finished'
              'comments': 'No failures found. Good job'
              'tasks':
                -
                  'task_id': 131811
                  'state': 'skipped'
                  'comments': 'I don''t want to do that'
                -
                  'task_id': 131812
                  'state': 'finished'
                  'parameters':
                    -
                      'parameter_id': 1
                      'value_number': 123.4
                -
                  'task_id': 131813
                  'state': 'finished'
                  'parameters':
                    -
                      'parameter_id': 1
                      'value_number': 10
                    -
                      'parameter_id': 2
                      'value_boolean': true
                -
                  'task_id': 131814
                  'state': 'finished'
                  'parameters':
                    -
                      'parameter_id': 1
                      'value_date': '2020-05-18T11:29:00Z'
                -
                  'task_id': 131815
                  'state': 'finished'
                  'parameters':
                    -
                      'parameter_id': 1
                      'value_selection': 'Port1'
                -
                  'task_id': 131816
                  'state': 'finished'
                  'parameters':
                    -
                      'parameter_id': 1
                      'value_string': '192.168.0.1'
          multipart/form-data:
            schema:
              type: object
            example:
              'state': 'finished'
              'comments': 'No failures found. Good job'
              'tasks':
                -
                  'task_id': 131811
                  'state': 'skipped'
                  'comments': 'I don''t want to do that'
                -
                  'task_id': 131812
                  'state': 'finished'
                  'parameters':
                    -
                      'parameter_id': 1
                      'value_number': 123.4
                -
                  'task_id': 131813
                  'state': 'finished'
                  'parameters':
                    -
                      'parameter_id': 1
                      'value_number': 10
                    -
                      'parameter_id': 2
                      'value_boolean': true
                -
                  'task_id': 131814
                  'state': 'finished'
                  'parameters':
                    -
                      'parameter_id': 1
                      'value_date': '2020-05-18T11:29:00Z'
                -
                  'task_id': 131815
                  'state': 'finished'
                  'parameters':
                    -
                      'parameter_id': 1
                      'value_selection': 'Port1'
                -
                  'task_id': 131816
                  'state': 'finished'
                  'parameters':
                    -
                      'parameter_id': 1
                      'value_string': '192.168.0.1'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  'result':
                    type: array
                    items:
                      type: object
                      properties:
                        'message':
                          type: string
        '400':
          description: Bad request
        '401':
          description: UNAUTHORIZED - Login to source failed
          content:
            application/json:
              example:
                result:
                - message: Login to source failed.
        '404':
          description: NOT FOUND - Source is not available or forbidden
          content:
            application/json:
              example:
                result:
                - message: Source is not available or forbidden.
        '406':
          description: NOT ACCEPTABLE - Wrong input of Parameters or Body
          content:
            application/json:
              example:
                result:
                - message: Wrong input of parameters or body.
        '412':
          description: PRECONDITION FAILED - Wrong Parameter value
          content:
            application/json:
              example:
                result:
                - message: Wrong parameter value.
        '500':
          description: SERVER ERROR - Error occurred on server
          content:
            application/json:
              example:
                result:
                - message: Error occurred on server.
      x-rest-doc-ident: '144'
      x-rest-doc-module: 'Checklists API 1.0 (BA)'
      x-rest-doc-template: 'instance/:checklist_id'
      x-rest-doc:
        description: |-
          <b>Checklists API 1.0 (BA)</b><br>
          This interface updates a checklist with its tasks. You can set all parameters and the states of each task or add a comment to them. If all requirements are met, you can finish the checklist or, if necessary, reopen it.
        body: '{"state":"finished","comments":"No failures found. Good job","tasks":[{"task_id":131811,"state":"skipped","comments":"I don''t want to do that"},{"task_id":131812,"state":"finished","parameters":[{"parameter_id":1,"value_number":123.4}]},{"task_id":131813,"state":"finished","parameters":[{"parameter_id":1,"value_number":10},{"parameter_id":2,"value_boolean":true}]},{"task_id":131814,"state":"finished","parameters":[{"parameter_id":1,"value_date":"2020-05-18T11:29:00Z"}]},{"task_id":131815,"state":"finished","parameters":[{"parameter_id":1,"value_selection":"Port1"}]},{"task_id":131816,"state":"finished","parameters":[{"parameter_id":1,"value_string":"192.168.0.1"}]}]}'
        sample_call: |-
          Finish a completely filled out checklist with a comment:
          <pre>{ "state": "finished", "comments": "Nice Job!" }</pre>
          Re-open a finished checklist:
          <pre>{ "state": "open", "comments": "I found an error. Need to fix it" }</pre>
        sample_query_parameter: ''
        success_response: '{"result":[{"message":"Checklist was successfully updated."}]}'
        error_response: ''
        notes: |-
          <p>To be allowed to fill a task, you need the required authorizations.
          If the passed parameters are invalid or not all requirements are met, a error message is returned.
          If a parameter is marked as <b>readonly</b>, the parameter does not have to be transferred, but can be transferred. The value of such parameter is updated by other parameter or status updates.</p>
          <p>
          Request JSON for checklist
          <ul>
          <li><b>state</b>: The state of a checklist can set to <i>open</i> or <i>finished</i>. A checklist can only be finished if all tasks have been filled in. To be able to open a finished checklist again, you need the appropriate authorization. [string]</li>
          </ul></p>
        notes2: |-
          <p>
          Request JSON for tasks
          <ul>
          <li><b>state</b>: The state of a task can set to <i>open</i>, <i>finished</i> or <i>skipped</i>. A task can only be finished if all required parameters have been filled in. You can skip the task if it is marked as <b>optional</b>. To be able to open it again, the checklist must not have been finished and you need the appropriate authorization. [string]</li>
          <li><b>value_string</b> / <b>value_number</b> / <b>value_boolean</b> / <b>value_date</b> / <b>value_selection</b> : Which value attribute is applicable depends on the corresponding <b>type</b> of a parameter. The values of all required parameters must be filled in to finish a task. [string/number/boolean/time ISO8601/string]</li>
          <li>To set a parameter of <b>type</b> <i>file</i>, upload a file at <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/tasks/:task_id/files</i></li>
          </ul></p>
      x-error-response-reference: PKG_REST_DOC standard block (401/404/406/412/500)
  /cloudconnect/api/checklists/v1/instance/{checklist_id}/files/{file_id}:
    get:
      tags:
      - Checklists
      summary: 'Checklists API 1.0 (BA) This interface downloads an attached file from a instantiated checklist or a'
      description: |-
        This interface downloads an attached file from a instantiated checklist or a task of it.
        
        ### Headers
        
        <ul><li><b>Authorization</b>: Basic/Bearer Authentication is used (user account or token of EquipmentCloud<sup>&reg;</sup>) [string]</li></ul>
      operationId: get_Checklists_instance_checklist_id_files_file_id
      security:
      - BasicAuth: []
      parameters:
      - name: checklist_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of checklist_id'
      - name: file_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of file_id'
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: UNAUTHORIZED - Login to source failed
          content:
            application/json:
              example:
                result:
                - message: Login to source failed.
        '404':
          description: NOT FOUND - Source is not available or forbidden
          content:
            application/json:
              example:
                result:
                - message: Source is not available or forbidden.
        '406':
          description: NOT ACCEPTABLE - Wrong input of Parameters or Body
          content:
            application/json:
              example:
                result:
                - message: Wrong input of parameters or body.
        '412':
          description: PRECONDITION FAILED - Wrong Parameter value
          content:
            application/json:
              example:
                result:
                - message: Wrong parameter value.
        '500':
          description: SERVER ERROR - Error occurred on server
          content:
            application/json:
              example:
                result:
                - message: Error occurred on server.
      x-rest-doc-ident: '138'
      x-rest-doc-module: 'Checklists API 1.0 (BA)'
      x-rest-doc-template: 'instance/:checklist_id/files/:file_id'
      x-rest-doc:
        description: |-
          <b>Checklists API 1.0 (BA)</b><br>
          This interface downloads an attached file from a instantiated checklist or a task of it.
        body: ''
        sample_call: ''
        sample_query_parameter: ''
        success_response: ''
        error_response: ''
        notes: ''
        notes2: ''
      x-error-response-reference: PKG_REST_DOC standard block (401/404/406/412/500)
    delete:
      tags:
      - Checklists
      summary: 'Checklists API 1.0 (BA) This interface deletes from an instantiated checklist a file that was upload'
      description: |-
        This interface deletes from an instantiated checklist a file that was uploaded as a parameter or optional attachment to a task.
        
        ### Headers
        
        <ul><li><b>Authorization</b>: Basic/Bearer Authentication is used (user account or token of EquipmentCloud<sup>&reg;</sup>) [string]</li></ul>
      operationId: delete_Checklists_instance_checklist_id_files_file_id
      security:
      - BasicAuth: []
      parameters:
      - name: checklist_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of checklist_id'
      - name: file_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of file_id'
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: UNAUTHORIZED - Login to source failed
          content:
            application/json:
              example:
                result:
                - message: Login to source failed.
        '404':
          description: NOT FOUND - Source is not available or forbidden
          content:
            application/json:
              example:
                result:
                - message: Source is not available or forbidden.
        '406':
          description: NOT ACCEPTABLE - Wrong input of Parameters or Body
          content:
            application/json:
              example:
                result:
                - message: Wrong input of parameters or body.
        '412':
          description: PRECONDITION FAILED - Wrong Parameter value
          content:
            application/json:
              example:
                result:
                - message: Wrong parameter value.
        '500':
          description: SERVER ERROR - Error occurred on server
          content:
            application/json:
              example:
                result:
                - message: Error occurred on server.
      x-rest-doc-ident: '139'
      x-rest-doc-module: 'Checklists API 1.0 (BA)'
      x-rest-doc-template: 'instance/:checklist_id/files/:file_id'
      x-rest-doc:
        description: |-
          <b>Checklists API 1.0 (BA)</b><br>
          This interface deletes from an instantiated checklist a file that was uploaded as a parameter or optional attachment to a task.
        body: ''
        sample_call: ''
        sample_query_parameter: ''
        success_response: ''
        error_response: ''
        notes: ''
        notes2: ''
      x-error-response-reference: PKG_REST_DOC standard block (401/404/406/412/500)
  /cloudconnect/api/checklists/v1/instance/{checklist_id}/tasks/{task_id}:
    get:
      tags:
      - Checklists
      summary: 'Checklists API 1.0 (BA) This interface returns a single task of an instantiated checklist.'
      description: |-
        This interface returns a single task of an instantiated checklist.
        
        ### Headers
        
        <ul><li><b>Authorization</b>: Basic/Bearer Authentication is used (user account or token of EquipmentCloud<sup>&reg;</sup>) [string]</li><li><b>lang</b>: Language of the returned translatable content. Possible language tags can be requested by the API interface portal/v1/translation/languages.Set to 'user_language' to use the configured preferred language of the user. If not defined, the original content is returned. [string]</li></ul>
        
        ### Notes
        
        Response JSON <i>items</i>
        <ul>
        <li><b>state</b>: The state of a task can set to <i>open</i>, <i>finished</i> or <i>skipped</i>. A task can only be finished if all required parameters have been filled in. You can skip the task if it is marked as <b>optional</b>. To be able to open it again, the checklist must not have been finished and you need the appropriate authorization. [string]</li>
        <li><b>comments</b>: You can optionally leave a comment when executing the task. [string]</li>
        <li><b>description</b>: Description to fulfill a task. [string]</li>
        <li><b>instructions</b>: Instructions for the task. [string]</li>
        <li><b>updated_by</b> / <b>updated_on</b> : Indicates who and when worked on the task last. [string/time ISO8601]</li>
        <li><b>module (deprecated)</b>: If an associated module is defined on a task or parameter, it must first be activated in an instantiated checklist so that the task or parameter is also available there. [string]</li>
        <li><b>modules</b>: If an associated module is defined on a task or parameter, it must first be activated in an instantiated checklist so that the task or parameter is also available there. [Array of strings]</li>
        <li><b>optional</b>: Specifies whether a complete task or a single parameter may be skipped when filling out a checklist. Otherwise these are required when filling in the checklist. [boolean]</li>
        <li><b>skill</b>: Specifies whether a task can only be finished by a user with a specific skill. This could be important for audits, for example. [object]</li><li><b>employees</b>: Needed number of employees. Empty if not set. [number]</li>
        <li><b>duration</b>: Duration of the task in seconds. Empty if not set. [number]</li>
        <li><b>effort</b>: Effort of the task in seconds. Empty if not set. [number]</li>
        <li><b>attachments</b>: List of all files that are attached to the task and are needed for filling it. Empty if there are no files. If the attribute <b>optional</b> is true for an attachment, then it is an additional file uploaded by the user when filling a task. <b>removed</b> is set to true when the file is not avilable any more. [Array of objects] An object contains e.g. name, mime type and internal id of the file. To get the file use the provided <b>download_link</b> or the <b>file_id</b> with API call  <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/files/:file_id</i></li>
        <li><b>issues</b>: List of all issues that have occurred while working on the task. [Array of objects] The <b>issue_id</b> is used for API calls at <i>/cloudconnect/api/openissues/v1/issues/:issue</i></li>
        <li><b>parameters</b>: List of parameters in the current task. All required (not optional or readonly) parameters must be filled in to finish a task. Empty if there are no parameters. [Array of objects] <ul><li>The <b>parameter_id</b> identifies the parameter itself in the current task</li>
        <li><b>label</b>: Name or label of the parameter.</li><li><b>optional</b>: Parameter can be omitted or not.</li><li><b>type</b>: Type of the parameter. Possible are <i>text</i>, <i>number</i>, <i>boolean</i>, <i>date</i>, <i>file</i> and <i>selection</i>. [string]</li>
        <li><b>value_string</b> / <b>value_number</b> / <b>value_boolean</b> / <b>value_date</b> / <b>value_selection</b> / <b>value_file</b> : Which value attribute is applicable depends on the corresponding <b>type</b> of a parameter. The values of all required parameters must be filled in to finish a task. To set a parameter of type <i>file</i>, upload a file at <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/tasks/:task_id/files</i> [string/number/boolean/time ISO8601/string/object]</li>
        The <b>value_file</b> [object] contains e.g. name, mime type and internal id of the file. To get the file use the provided <b>download_link</b>. The link depends on <b>readonly</b> and <b>finished</b> status (readonly = true and unfinished, the file is linked from master data; readonly = false or finished, the file can be downloaded via checklist file download).
        <li><b>readonly</b>: The parameter is linked with a master data and can only be read.</li><li><b>min</b> / <b>max</b> (type = <i>number</i> required) : Optional lower/upper limit value for a parameter which has to be respected to finish the task. [number]</li>
        <li><b>regex</b> (type = <i>string</i> required) : A regular expression of type HTML5 pattern to define the format of the parameter. Search the internet for more detailed information on regular HTML5 pattern expressions. [string]</li>
        <li><b>selection</b> (type = <i>selection</i> required) : List of key/value pairs which are available for selecting the parameter. [Array of objects]</li>
        <li><b>link_type</b>: Specifies the type of the link.<ul>
        <li>document: Document</li>
        <li>knowledge_base_topic: Knowledgebase Topic</li>
        <li>issue: Open Issue</li>
        <li>software_set: Software Set</li>
        <li>maintenance_checklist: Maintenance Checklist</li>
        <li>workflows_checklist: Workflows Checklist</li>
        <li>spare_part: Spare Part</li>
        <li>journal: EquipmentHub Journal</li>
        <li>external: External web link</li>
        </ul></li></ul>
      operationId: get_Checklists_instance_checklist_id_tasks_task_id
      security:
      - BasicAuth: []
      parameters:
      - name: checklist_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of checklist_id'
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of task_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  'items':
                    type: array
                    items:
                      type: object
                      properties:
                        'task_id':
                          type: integer
                        'state':
                          type: string
                        'skill':
                          type: object
                          properties:
                            'skill_id':
                              type: integer
                            'name':
                              type: string
                        'employees':
                          type: integer
                        'duration':
                          type: integer
                        'effort':
                          type: integer
                        'module':
                          type: string
                        'modules':
                          type: array
                          items:
                            type: string
                        'optional':
                          type: boolean
                        'comments':
                          type: string
                        'description':
                          type: string
                        'instructions':
                          type: string
                        'updated_by':
                          type: string
                        'updated_on':
                          type: string
                          format: date-time
                        'attachments':
                          type: array
                          items:
                            type: object
                            properties:
                              'download_link':
                                type: string
                              'file_id':
                                type: integer
                              'name':
                                type: string
                              'mime_type':
                                type: string
                              'last_modified':
                                type: string
                                format: date-time
                              'optional':
                                type: boolean
                        'issues':
                          type: array
                          items:
                            type: object
                            properties:
                              'issue_id':
                                type: integer
                              'title':
                                type: string
                        'links':
                          type: array
                          items:
                            type: object
                            properties:
                              'link_id':
                                type: integer
                              'link_type':
                                type: string
                              'link_target':
                                type: string
                              'display_name':
                                type: string
                              'created_by':
                                type: string
                              'created_on':
                                type: string
                                format: date-time
                              'updated_by':
                                type: string
                              'updated_on':
                                type: string
                                format: date-time
                        'parameters':
                          type: array
                          items:
                            type: object
                            properties:
                              'parameter_id':
                                type: integer
                              'label':
                                type: string
                              'optional':
                                type: boolean
                              'type':
                                type: string
                              'value_number':
                                type: integer
                              'min':
                                type: integer
                              'max':
                                type: integer
        '400':
          description: Bad request
        '401':
          description: UNAUTHORIZED - Login to source failed
          content:
            application/json:
              example:
                result:
                - message: Login to source failed.
        '404':
          description: NOT FOUND - Source is not available or forbidden
          content:
            application/json:
              example:
                result:
                - message: Source is not available or forbidden.
        '406':
          description: NOT ACCEPTABLE - Wrong input of Parameters or Body
          content:
            application/json:
              example:
                result:
                - message: Wrong input of parameters or body.
        '412':
          description: PRECONDITION FAILED - Wrong Parameter value
          content:
            application/json:
              example:
                result:
                - message: Wrong parameter value.
        '500':
          description: SERVER ERROR - Error occurred on server
          content:
            application/json:
              example:
                result:
                - message: Error occurred on server.
      x-rest-doc-ident: '141'
      x-rest-doc-module: 'Checklists API 1.0 (BA)'
      x-rest-doc-template: 'instance/:checklist_id/tasks/:task_id'
      x-rest-doc:
        description: |-
          <b>Checklists API 1.0 (BA)</b><br>
          This interface returns a single task of an instantiated checklist.
        body: ''
        sample_call: ''
        sample_query_parameter: ''
        success_response: '{"items":[{"task_id":489366,"state":"open","skill":{"skill_id":42,"name":"Electrician"},"employees":2,"duration":7200,"effort":14400,"module":"Extension A","modules":["Extension A"],"optional":false,"comments":"I''ll continue tomorrow","description":"This a task with many parameters","instructions":"Instructions for the task","updated_by":"USER1","updated_on":"2020-06-04T11:31:56Z","attachments":[{"download_link":"https://eqcloud.kontron-ais.com/C168170000/cloudconnect/api/checklists/v1/instance/8338/files/23229","file_id":23229,"name":"manual_4711.pdf","mime_type":"application/pdf","last_modified":"2020-01-06T11:25:22Z","optional":false},{"download_link":"https://eqcloud.kontron-ais.com/C168170000/cloudconnect/api/checklists/v1/instance/8338/files/15844","file_id":15844,"name":"my_notes.txt","mime_type":"text/plain","last_modified":"2020-06-04T12:20:31Z","optional":true}],"issues":[{"issue_id":4562,"title":"There was a problem with my task"}],"links":[{"link_id":762,"link_type":"spare_part","link_target":"pc_cpu_001","display_name":"1x AMD Ryzen 5 2600 ( pc_cpu_001 )","created_by":"Max Mustermann","created_on":"2020-01-20T09:35:03Z","updated_by":"Max Mustermann","updated_on":"2020-01-20T09:35:03Z"}],"parameters":[{"parameter_id":1,"label":"Set a number between 1 and 10","optional":false,"type":"number","value_number":2,"min":1,"max":10},{"parameter_id":2,"label":"You have to check this","optional":false,"module":"Extension B, Extension C","modules":["Extension B","Extension C"],"type":"boolean","value_boolean":false},{"parameter_id":3,"label":"When is christmas eve?","optional":true,"type":"date","value_date":"2020-12-25T00:00:00Z","readonly":true},{"parameter_id":4,"label":"Selcted an option","optional":false,"type":"selection","value_selection":"Option B","selection":[{"key":"Option A","value":"Option A"},{"key":"Option B","value":"Option B"}]},{"parameter_id":5,"label":"IP address with regular expression (i.e. 192.168.0.1)","optional":false,"type":"text","value_selection":"172.16.33.2","regex":"^(?:[0-9]{1,3}\\.){3}[0-9]{1,3}$"},{"parameter_id":6,"label":"Upload a Screenshot if you want","optional":true,"type":"file","value_file":{"download_link":"https://eqcloud.kontron-ais.com/C168170000/cloudconnect/api/checklists/v1/instance/8338/files/77318","file_id":77318,"name":"screenshot01.png","mime_type":"image/png","last_modified":"2020-06-04T12:21:33Z"}}]}]}'
        error_response: ''
        notes: |-
          Response JSON <i>items</i>
          <ul>
          <li><b>state</b>: The state of a task can set to <i>open</i>, <i>finished</i> or <i>skipped</i>. A task can only be finished if all required parameters have been filled in. You can skip the task if it is marked as <b>optional</b>. To be able to open it again, the checklist must not have been finished and you need the appropriate authorization. [string]</li>
          <li><b>comments</b>: You can optionally leave a comment when executing the task. [string]</li>
          <li><b>description</b>: Description to fulfill a task. [string]</li>
          <li><b>instructions</b>: Instructions for the task. [string]</li>
          <li><b>updated_by</b> / <b>updated_on</b> : Indicates who and when worked on the task last. [string/time ISO8601]</li>
          <li><b>module (deprecated)</b>: If an associated module is defined on a task or parameter, it must first be activated in an instantiated checklist so that the task or parameter is also available there. [string]</li>
          <li><b>modules</b>: If an associated module is defined on a task or parameter, it must first be activated in an instantiated checklist so that the task or parameter is also available there. [Array of strings]</li>
          <li><b>optional</b>: Specifies whether a complete task or a single parameter may be skipped when filling out a checklist. Otherwise these are required when filling in the checklist. [boolean]</li>
          <li><b>skill</b>: Specifies whether a task can only be finished by a user with a specific skill. This could be important for audits, for example. [object]</li><li><b>employees</b>: Needed number of employees. Empty if not set. [number]</li>
          <li><b>duration</b>: Duration of the task in seconds. Empty if not set. [number]</li>
          <li><b>effort</b>: Effort of the task in seconds. Empty if not set. [number]</li>
          <li><b>attachments</b>: List of all files that are attached to the task and are needed for filling it. Empty if there are no files. If the attribute <b>optional</b> is true for an attachment, then it is an additional file uploaded by the user when filling a task. <b>removed</b> is set to true when the file is not avilable any more. [Array of objects] An object contains e.g. name, mime type and internal id of the file. To get the file use the provided <b>download_link</b> or the <b>file_id</b> with API call  <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/files/:file_id</i></li>
          <li><b>issues</b>: List of all issues that have occurred while working on the task. [Array of objects] The <b>issue_id</b> is used for API calls at <i>/cloudconnect/api/openissues/v1/issues/:issue</i></li>
        notes2: |-
          <li><b>parameters</b>: List of parameters in the current task. All required (not optional or readonly) parameters must be filled in to finish a task. Empty if there are no parameters. [Array of objects] <ul><li>The <b>parameter_id</b> identifies the parameter itself in the current task</li>
          <li><b>label</b>: Name or label of the parameter.</li><li><b>optional</b>: Parameter can be omitted or not.</li><li><b>type</b>: Type of the parameter. Possible are <i>text</i>, <i>number</i>, <i>boolean</i>, <i>date</i>, <i>file</i> and <i>selection</i>. [string]</li>
          <li><b>value_string</b> / <b>value_number</b> / <b>value_boolean</b> / <b>value_date</b> / <b>value_selection</b> / <b>value_file</b> : Which value attribute is applicable depends on the corresponding <b>type</b> of a parameter. The values of all required parameters must be filled in to finish a task. To set a parameter of type <i>file</i>, upload a file at <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/tasks/:task_id/files</i> [string/number/boolean/time ISO8601/string/object]</li>
          The <b>value_file</b> [object] contains e.g. name, mime type and internal id of the file. To get the file use the provided <b>download_link</b>. The link depends on <b>readonly</b> and <b>finished</b> status (readonly = true and unfinished, the file is linked from master data; readonly = false or finished, the file can be downloaded via checklist file download).
          <li><b>readonly</b>: The parameter is linked with a master data and can only be read.</li><li><b>min</b> / <b>max</b> (type = <i>number</i> required) : Optional lower/upper limit value for a parameter which has to be respected to finish the task. [number]</li>
          <li><b>regex</b> (type = <i>string</i> required) : A regular expression of type HTML5 pattern to define the format of the parameter. Search the internet for more detailed information on regular HTML5 pattern expressions. [string]</li>
          <li><b>selection</b> (type = <i>selection</i> required) : List of key/value pairs which are available for selecting the parameter. [Array of objects]</li>
          <li><b>link_type</b>: Specifies the type of the link.<ul>
          <li>document: Document</li>
          <li>knowledge_base_topic: Knowledgebase Topic</li>
          <li>issue: Open Issue</li>
          <li>software_set: Software Set</li>
          <li>maintenance_checklist: Maintenance Checklist</li>
          <li>workflows_checklist: Workflows Checklist</li>
          <li>spare_part: Spare Part</li>
          <li>journal: EquipmentHub Journal</li>
          <li>external: External web link</li>
          </ul></li></ul>
      x-error-response-reference: PKG_REST_DOC standard block (401/404/406/412/500)
    post:
      tags:
      - Checklists
      summary: 'Checklists API 1.0 (BA) This interface updates a single task of a checklist'
      description: |-
        This interface updates a single task of a checklist. You can set parameters and the state of the task or add a comment to it.
        
        ### Headers
        
        <ul><li><b>Authorization</b>: Basic/Bearer Authentication is used (user account or token of EquipmentCloud<sup>&reg;</sup>) [string]</li></ul>
        
        ### Notes
        
        <p>To be allowed to fill a task, you need the required authorizations.
        If the passed parameters are invalid or not all requirements are met, a error message is returned.
        If a parameter is marked as <b>readonly</b>, the parameter does not have to be transferred, but can be transferred. The value of such parameter is updated by other parameter or status updates.</p>
        <p>
        Request JSON
        <ul>
        <li><b>state</b>: The state of a task can set to <i>open</i>, <i>finished</i> or <i>skipped</i>. A task can only be finished if all required parameters have been filled in. You can skip the task if it is marked as <b>optional</b>. To be able to open it again, the checklist must not have been finished and you need the appropriate authorization. [string]</li>
        <li><b>value_string</b> / <b>value_number</b> / <b>value_boolean</b> / <b>value_date</b> / <b>value_selection</b> : Which value attribute is applicable depends on the corresponding <b>type</b> of a parameter. The values of all required parameters must be filled in to finish a task. [string/number/boolean/time ISO8601/string]</li>
        <li>To set a parameter of <b>type</b> <i>file</i>, upload a file at <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/tasks/:task_id/files</i></li>
        </ul></p>
      operationId: post_Checklists_instance_checklist_id_tasks_task_id
      security:
      - BasicAuth: []
      parameters:
      - name: checklist_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of checklist_id'
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of task_id'
      requestBody:
        description: Request body (JSON or multipart/form-data depending on endpoint)
        content:
          application/json:
            schema:
              type: object
            example:
              'state': 'finished'
              'comments': 'There were no errors'
              'parameters':
                -
                  'parameter_id': 1
                  'value_string': 'Serial XB0815'
                -
                  'parameter_id': 2
                  'value_number': 123.45
          multipart/form-data:
            schema:
              type: object
            example:
              'state': 'finished'
              'comments': 'There were no errors'
              'parameters':
                -
                  'parameter_id': 1
                  'value_string': 'Serial XB0815'
                -
                  'parameter_id': 2
                  'value_number': 123.45
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  'result':
                    type: array
                    items:
                      type: object
                      properties:
                        'message':
                          type: string
        '400':
          description: Bad request
        '401':
          description: UNAUTHORIZED - Login to source failed
          content:
            application/json:
              example:
                result:
                - message: Login to source failed.
        '404':
          description: NOT FOUND - Source is not available or forbidden
          content:
            application/json:
              example:
                result:
                - message: Source is not available or forbidden.
        '406':
          description: NOT ACCEPTABLE - Wrong input of Parameters or Body
          content:
            application/json:
              example:
                result:
                - message: Wrong input of parameters or body.
        '412':
          description: PRECONDITION FAILED - Wrong Parameter value
          content:
            application/json:
              example:
                result:
                - message: Wrong parameter value.
        '500':
          description: SERVER ERROR - Error occurred on server
          content:
            application/json:
              example:
                result:
                - message: Error occurred on server.
      x-rest-doc-ident: '143'
      x-rest-doc-module: 'Checklists API 1.0 (BA)'
      x-rest-doc-template: 'instance/:checklist_id/tasks/:task_id'
      x-rest-doc:
        description: |-
          <b>Checklists API 1.0 (BA)</b><br>
          This interface updates a single task of a checklist. You can set parameters and the state of the task or add a comment to it.
        body: '{"state":"finished","comments":"There were no errors","parameters":[{"parameter_id":1,"value_string":"Serial XB0815"},{"parameter_id":2,"value_number":123.45}]}'
        sample_call: |-
          Re-open a finished task:
          <pre>{ "state": "open" }</pre>
          Skip an optional task:
          <pre>{ "state": "skipped" }</pre>
          Setting a single parameter and add a comment to an open task:
          <pre>{
            "comments": "I'm not finished yet",
            "parameters": [
              {
                "parameter_id": 3,
                "value_selection": "Port A"
              }
            ]
          }</pre>
        sample_query_parameter: ''
        success_response: '{"result":[{"message":"Task was successfully updated."}]}'
        error_response: ''
        notes: |-
          <p>To be allowed to fill a task, you need the required authorizations.
          If the passed parameters are invalid or not all requirements are met, a error message is returned.
          If a parameter is marked as <b>readonly</b>, the parameter does not have to be transferred, but can be transferred. The value of such parameter is updated by other parameter or status updates.</p>
        notes2: |-
          <p>
          Request JSON
          <ul>
          <li><b>state</b>: The state of a task can set to <i>open</i>, <i>finished</i> or <i>skipped</i>. A task can only be finished if all required parameters have been filled in. You can skip the task if it is marked as <b>optional</b>. To be able to open it again, the checklist must not have been finished and you need the appropriate authorization. [string]</li>
          <li><b>value_string</b> / <b>value_number</b> / <b>value_boolean</b> / <b>value_date</b> / <b>value_selection</b> : Which value attribute is applicable depends on the corresponding <b>type</b> of a parameter. The values of all required parameters must be filled in to finish a task. [string/number/boolean/time ISO8601/string]</li>
          <li>To set a parameter of <b>type</b> <i>file</i>, upload a file at <i>/cloudconnect/api/checklists/v1/instance/:checklist_id/tasks/:task_id/files</i></li>
          </ul></p>
      x-error-response-reference: PKG_REST_DOC standard block (401/404/406/412/500)
  /cloudconnect/api/checklists/v1/instance/{checklist_id}/tasks/{task_id}/files:
    post:
      tags:
      - Checklists
      summary: 'Checklists API 1.0 (BA) This interface uploads a file to an instantiated checklist as a task paramet'
      description: |-
        This interface uploads a file to an instantiated checklist as a task parameter or optional attachment to a task.
        This interface supports a chunked upload. This is required for files that exceed the maximum post size of the server e.g. 50MB. For Files smaller than the maximum post size, the chunked header parameters can be omitted.
        
        ### Headers
        
        <ul><li><b>Authorization</b>: Basic/Bearer Authentication is used (user account or token of EquipmentCloud<sup>&reg;</sup>) [string]</li><li><b>Chunk-Number</b>: Part number of the splitted uploaded object. (optional parameter) [int]</li><li><b>Chunk-Total</b>: Total number of parts of the uploaded object. (optional parameter) [int]</li><li><b>Content-Type</b>: Mime type of to object to upload. [string]</li><li><b>Parameter-ID</b> [string]</li><li><b>Title</b>: Title of the object. [string]</li></ul>
        
        ### Notes
        
        Header parameters
        <ul><li><b>Parameter-ID</b>: Set number of a parameter with <b>type</b> = "<i>file</i>" in a task if the file should upload as this parameter. Leave it blank or remove it if you want to save the file as an attachment to the task.</li></ul>
      operationId: post_Checklists_instance_checklist_id_tasks_task_id_files
      security:
      - BasicAuth: []
      parameters:
      - name: checklist_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of checklist_id'
      - name: task_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of task_id'
      responses:
        '200':
          description: Successful response
        '400':
          description: Bad request
        '401':
          description: UNAUTHORIZED - Login to source failed
          content:
            application/json:
              example:
                result:
                - message: Login to source failed.
        '404':
          description: NOT FOUND - Source is not available or forbidden
          content:
            application/json:
              example:
                result:
                - message: Source is not available or forbidden.
        '406':
          description: NOT ACCEPTABLE - Wrong input of Parameters or Body
          content:
            application/json:
              example:
                result:
                - message: Wrong input of parameters or body.
        '412':
          description: PRECONDITION FAILED - Wrong Parameter value
          content:
            application/json:
              example:
                result:
                - message: Wrong parameter value.
        '500':
          description: SERVER ERROR - Error occurred on server
          content:
            application/json:
              example:
                result:
                - message: Error occurred on server.
      x-rest-doc-ident: '140'
      x-rest-doc-module: 'Checklists API 1.0 (BA)'
      x-rest-doc-template: 'instance/:checklist_id/tasks/:task_id/files'
      x-rest-doc:
        description: |-
          <b>Checklists API 1.0 (BA)</b><br>
          This interface uploads a file to an instantiated checklist as a task parameter or optional attachment to a task.
          This interface supports a chunked upload. This is required for files that exceed the maximum post size of the server e.g. 50MB. For Files smaller than the maximum post size, the chunked header parameters can be omitted.
        body: ''
        sample_call: ''
        sample_query_parameter: |-
          All overdue maintenances, 1st page:
          <pre>qp={"state":"overdue"}</pre>
          Schedule of one year starting at 15.12.2019 12:00 UTC, 1st page:
          <pre>qp={"ts_start":"2019-12-15T12:00:00Z"}</pre>
          Schedule of one year ending at 15.12.2019 12:00 UTC, 2nd page:
          <pre>qp={"ts_end":"2019-12-15T12:00:00Z"}&step=2</pre>
          All currently executed maintenances with due date in November 2019 GMT+1, 2nd page:
          <pre>qp={"ts_start":"2019-11-01T00:00:00+01:00","ts_end":"2019-12-01T00:00:00+01:00"}&step=2</pre>
        success_response: ''
        error_response: ''
        notes: |-
          Header parameters
          <ul><li><b>Parameter-ID</b>: Set number of a parameter with <b>type</b> = "<i>file</i>" in a task if the file should upload as this parameter. Leave it blank or remove it if you want to save the file as an attachment to the task.</li></ul>
        notes2: ''
      x-error-response-reference: PKG_REST_DOC standard block (401/404/406/412/500)
  /cloudconnect/api/checklists/v1/ping:
    get:
      tags:
      - Checklists
      summary: 'Checklists API 1.0 This interface returns the current time and can be used for connection test witho'
      description: |-
        This interface returns the current time and can be used for connection test without Basic Authentication.
      operationId: get_Checklists_ping
      security:
      - BasicAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  'result':
                    type: string
                    format: date-time
        '400':
          description: Bad request
        '401':
          description: UNAUTHORIZED - Login to source failed
          content:
            application/json:
              example:
                result:
                - message: Login to source failed.
        '404':
          description: NOT FOUND - Source is not available or forbidden
          content:
            application/json:
              example:
                result:
                - message: Source is not available or forbidden.
        '406':
          description: NOT ACCEPTABLE - Wrong input of Parameters or Body
          content:
            application/json:
              example:
                result:
                - message: Wrong input of parameters or body.
        '412':
          description: PRECONDITION FAILED - Wrong Parameter value
          content:
            application/json:
              example:
                result:
                - message: Wrong parameter value.
        '500':
          description: SERVER ERROR - Error occurred on server
          content:
            application/json:
              example:
                result:
                - message: Error occurred on server.
      x-rest-doc-ident: '142'
      x-rest-doc-module: 'Checklists API 1.0 (BA)'
      x-rest-doc-template: 'ping'
      x-rest-doc:
        description: |-
          <b>Checklists API 1.0</b><br>
          This interface returns the current time and can be used for connection test without Basic Authentication.
        body: ''
        sample_call: ''
        sample_query_parameter: ''
        success_response: '{"result":"2023-12-07T11:00:50.562Z"}'
        error_response: ''
        notes: ''
        notes2: ''
      x-error-response-reference: PKG_REST_DOC standard block (401/404/406/412/500)
  /cloudconnect/api/checklists/v1/template/{template_id}:
    get:
      tags:
      - Checklists
      summary: 'Checklists API 1.0 (BA) This interface returns a predefined checklist template which is used by a sc'
      description: |-
        This interface returns a predefined checklist template which is used by a scheduled maintenance or executed workflows.
        
        ### Headers
        
        <ul><li><b>Authorization</b>: Basic/Bearer Authentication is used (user account or token of EquipmentCloud<sup>&reg;</sup>) [string]</li><li><b>appalias</b>: Can be empty or 'MAINTENANCE' and returns the Checklist for Maintenance. [string]</li><li><b>featureid</b>: Needs the 'appalias = MAINTENANCE'. This is the filter parameter for 'schedule_id' of a Maintenance. [int]</li><li><b>lang</b>: Language of the returned translatable content. Possible language tags can be requested by the API interface portal/v1/translation/languages.Set to 'user_language' to use the configured preferred language of the user. If not defined, the original content is returned. [string]</li></ul>
        
        ### Notes
        
        Response JSON <i>items</i>
        <ul><li><b>template_id</b>: ID to identify the predefined checklist template. Used for API calls at <i>/cloudconnect/api/checklist/v1/template/:template_id</i> [number]</li><li><b>name</b> / <b>category</b> : Aditional information. [string]</li><li><b>build</b> : The current build number of the template can be compared with the build number of generated checklists to determine if an instance is up-to-date or can be upgraded. [number]</li><li><b>duration</b>: Expected duration of the checklist in seconds. Empty if not set. [number]</li>
        <li><b>effort</b>: Planned effort of the checklist in seconds. Empty if not set. [number]</li><li><b>modules</b>: List of all available modules in the checklist which are used in all tasks and parameters. An instantiated checklist from this template indicates which of these modules are activated to display only these tasks or parameters. Empty if there are no modules defined. [Array of strings]
        <li><b>attachments</b>: List of all files that are globally attached to the checklist or to an single task and are needed when filling out the checklist. Empty if there are no files. [Array of objects] An object contains e.g. name, mime type and internal id of the file. To get the file use the provided <b>download_link</b> or the <b>file_id</b> with API call  <i>/cloudconnect/api/checklists/v1/template/:template_id/files/:file_id</i></li><li><b>groups</b>: A flat list of all task groups in the checklist. The groups are hierarchically structured. The first group represents the root of this hierarchy. All groups can have further subgroups. [Array of objects]. The <b>group_id</b> identifies the group itself in the hierarchy</li><li><b>child_groups</b>: A list of all group IDs which are directly under the current group. [Array of objects]</li><li><b>parent_group_id</b>: ID of the group which is directly above the current group. Empty if the current is the root of the hierarchy [number]</li><li><b>tasks</b>: List of all tasks in the current task group. Empty if there are no tasks. [Array of objects]</li><li><b>description</b>: Description to fulfill a task. [string]</li><li><b>instructions</b>: Instructions for the task. [string]</li><li><b>module (deprecated)</b>: If an associated module is defined on a task or parameter, it must first be activated in an instantiated checklist so that the task or parameter is also available there. [string]</li><li><b>modules</b>: If an associated module is defined on a task or parameter, it must first be activated in an instantiated checklist so that the task or parameter is also available there. [Array of strings]</li><li><b>optional</b>: Specifies whether a complete task or a single parameter may be skipped when filling out a checklist. Otherwise these are required when filling in the checklist. [boolean]</li><li><b>skill</b>: Specifies whether a task can only be finished by a user with a specific skill. This could be important for audits, for example. [object]</li><li><b>employees</b>: Needed number of employees. Empty if not set. [number]</li><li><b>duration</b>: Expected duration of the task in seconds. Empty if not set. [number]</li><li><b>effort</b>: Planned effort of the task in seconds. Empty if not set. [number]</li>
        <li><b>parameters</b>: List of parameters in the current task. All required (not optional) parameters must be filled in to finish a task. Empty if there are no parameters. [Array of objects] <ul><li>The <b>parameter_id</b> identifies the parameter itself in the current task</li><li><b>label</b>: Name or label of the parameter.</li><li><b>optional</b>: Parameter can be omitted or not.</li><li><b>type</b>: Type of the parameter. Possible are <i>text</i>, <i>number</i>, <i>boolean</i>, <i>date</i>, <i>file</i> and <i>selection</i>. [string]</li><li><b>readonly</b>: The parameter is linked with a master data and can only be read.</li><li><b>min</b> / <b>max</b> (type = <i>number</i> required) : Optional lower/upper limit value for a parameter which has to be respected to finish the task. [number]</li><li><b>regex</b> (type = <i>string</i> required) : A regular expression of type HTML5 pattern to define the format of the parameter. Search the internet for more detailed information on regular HTML5 pattern expressions. [string]</li><li><b>selection</b> (type = <i>selection</i> required) : List of key/value pairs which are available for selecting the parameter. [Array of objects]</li><li><b>link_type</b>: Specifies the type of the link.
        <ul>
        <li>document: Document</li>
        <li>knowledge_base_topic: Knowledgebase Topic</li>
        <li>issue: Open Issue</li>
        <li>software_set: Software Set</li>
        <li>maintenance_checklist: Maintenance Checklist</li>
        <li>workflows_checklist: Workflows Checklist</li>
        <li>spare_part: Spare Part</li>
        <li>journal: EquipmentHub Journal</li>
        <li>external: External web link</li>
        </ul>
        </li>
        </ul>
      operationId: get_Checklists_template_template_id
      security:
      - BasicAuth: []
      parameters:
      - name: template_id
        in: path
        required: true
        schema:
          type: string
        description: 'ID of template_id'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  'items':
                    type: array
                    items:
                      type: object
                      properties:
                        'template_id':
                          type: integer
                        'name':
                          type: string
                        'build':
                          type: integer
                        'category':
                          type: string
                        'duration':
                          type: integer
                        'effort':
                          type: integer
                        'modules':
                          type: array
                          items:
                            type: string
                        'attachments':
                          type: array
                          items:
                            type: object
                            properties:
                              'download_link':
                                type: string
                              'file_id':
                                type: integer
                              'name':
                                type: string
                              'mime_type':
                                type: string
                              'last_modified':
                                type: string
                                format: date-time
                        'links':
                          type: array
                          items:
                            type: object
                            properties:
                              'link_id':
                                type: integer
                              'link_type':
                                type: string
                              'link_target':
                                type: string
                              'display_name':
                                type: string
                              'created_by':
                                type: string
                              'created_on':
                                type: string
                                format: date-time
                              'updated_by':
                                type: string
                              'updated_on':
                                type: string
                                format: date-time
                        'groups':
                          type: array
                          items:
                            type: object
                            properties:
                              'group_id':
                                type: integer
                              'name':
                                type: string
                              'child_groups':
                                type: array
                                items:
                                  type: integer
        '400':
          description: Bad request
        '401':
          description: UNAUTHORIZED - Login to source failed
          content:
            application/json:
              example:
                result:
                - message: Login to source failed.
        '404':
          description: NOT FOUND - Source is not available or forbidden
          content:
            application/json:
              example:
                result:
                - message: Source is not available or forbidden.
        '406':
          description: NOT ACCEPTABLE - Wrong input of Parameters or Body
          content:
            application/json:
              example:
                result:
                - message: Wrong input of parameters or body.
        '412':
          description: PRECONDITION FAILED - Wrong Parameter value
          content:
            application/json:
              example:
                result:
                - message: Wrong parameter value.
        '500':
          description: SERVER ERROR - Error occurred on server
          content:
            application/json:
              example:
                result:
                - message: Error occurred on server.
      x-rest-doc-ident: '135'
      x-rest-doc-module: 'Checklists API 1.0 (BA)'
      x-rest-doc-template: 'template/:template_id'
      x-rest-doc:
        description: |-
          <b>Checklists API 1.0 (BA)</b><br>
          This interface returns a predefined checklist template which is used by a scheduled maintenance or executed workflows.
        body: ''
        sample_call: ''
        sample_query_parameter: ''
        success_response: '{"items":[{"template_id":3002,"name":"Network Configuration","build":182,"category":"Demo Checklists","duration":7200,"effort":14400,"modules":["Extension A","Extension B","Extension C"],"attachments":[{"download_link":"https://eqcloud.kontron-ais.com/C168170000/cloudconnect/api/checklists/v1/template/3002/files/16961","file_id":16961,"name":"SI_0815_Router_Manual.pdf","mime_type":"application/pdf","last_modified":"2020-01-20T09:35:03Z"}],"links":[{"link_id":761,"link_type":"issue","link_target":"12","display_name":"#12 My Issue","created_by":"Max Mustermann","created_on":"2020-01-20T09:35:03Z","updated_by":"Max Mustermann","updated_on":"2020-01-20T09:35:03Z"}],"groups":[{"group_id":16510,"name":"Network Configuration","child_groups":[16511,16512]},{"group_id":16511,"name":"Part 1","parent_group_id":16510,"tasks":[{"task_id":125333,"module":"Extension A","modules":["Extension A"],"optional":false,"description":"Count the installed network cards","instructions":"Check the network settings","parameters":[{"parameter_id":1,"label":"PCI Modules","optional":false,"type":"number","min":1,"max":4},{"parameter_id":2,"label":"WLAN","optional":true,"type":"boolean"}]},{"task_id":125334,"optional":false,"description":"Contact the administrator to request an activation","instructions":"Call 555-Admin","links":[{"link_id":762,"link_type":"spare_part","link_target":"pc_cpu_001","display_name":"1x AMD Ryzen 5 2600 ( pc_cpu_001 )","created_by":"Max Mustermann","created_on":"2020-01-20T09:35:03Z","updated_by":"Max Mustermann","updated_on":"2020-01-20T09:35:03Z"}],"parameters":[{"parameter_id":1,"label":"Activation date","optional":true,"type":"date","readonly":true}]}]},{"group_id":16512,"name":"Part 2","parent_group_id":16510,"tasks":[{"task_id":125335,"skill":{"skill_id":42,"name":"Electrician"},"duration":7200,"effort":14400,"employees":2,"optional":false,"description":"Connect the LAN cable to a port of your choice","instructions":"Port 1 preferred","attachments":[{"download_link":"https://eqcloud.kontron-ais.com/C168170000/cloudconnect/api/checklists/v1/template/3002/files/16085","file_id":16085,"name":"reference.png","mime_type":"image/png","last_modified":"2019-02-22T08:39:02Z"}],"parameters":[{"parameter_id":1,"label":"Communication module","optional":true,"type":"text","readonly":true},{"parameter_id":2,"label":"Selected Port","optional":false,"type":"selection","selection":[{"key":"Port A","value":"Port A"},{"key":"Port B","value":"Port B"},{"key":"Port C","value":"Port C"}]}]},{"task_id":125336,"optional":false,"description":"Configure a free IP address","parameters":[{"parameter_id":1,"label":"IP address (i.e. 192.168.0.1)","optional":false,"type":"text","regex":"^(?:[0-9]{1,3}\\.){3}[0-9]{1,3}$"},{"parameter_id":2,"label":"Screenshot of config dialog","optional":true,"module":"Extension B, Extention C","modules":["Extension B","Extension C"],"type":"file"}]}]}]}]}'
        error_response: ''
        notes: |-
          Response JSON <i>items</i>
          <ul><li><b>template_id</b>: ID to identify the predefined checklist template. Used for API calls at <i>/cloudconnect/api/checklist/v1/template/:template_id</i> [number]</li><li><b>name</b> / <b>category</b> : Aditional information. [string]</li><li><b>build</b> : The current build number of the template can be compared with the build number of generated checklists to determine if an instance is up-to-date or can be upgraded. [number]</li><li><b>duration</b>: Expected duration of the checklist in seconds. Empty if not set. [number]</li>
          <li><b>effort</b>: Planned effort of the checklist in seconds. Empty if not set. [number]</li><li><b>modules</b>: List of all available modules in the checklist which are used in all tasks and parameters. An instantiated checklist from this template indicates which of these modules are activated to display only these tasks or parameters. Empty if there are no modules defined. [Array of strings]
          <li><b>attachments</b>: List of all files that are globally attached to the checklist or to an single task and are needed when filling out the checklist. Empty if there are no files. [Array of objects] An object contains e.g. name, mime type and internal id of the file. To get the file use the provided <b>download_link</b> or the <b>file_id</b> with API call  <i>/cloudconnect/api/checklists/v1/template/:template_id/files/:file_id</i></li><li><b>groups</b>: A flat list of all task groups in the checklist. The groups are hierarchically structured. The first group represents the root of this hierarchy. All groups can have further subgroups. [Array of objects]. The <b>group_id</b> identifies the group itself in the hierarchy</li><li><b>child_groups</b>: A list of all group IDs which are directly under the current group. [Array of objects]</li><li><b>parent_group_id</b>: ID of the group which is directly above the current group. Empty if the current is the root of the hierarchy [number]</li><li><b>tasks</b>: List of all tasks in the current task group. Empty if there are no tasks. [Array of objects]</li><li><b>description</b>: Description to fulfill a task. [string]</li><li><b>instructions</b>: Instructions for the task. [string]</li><li><b>module (deprecated)</b>: If an associated module is defined on a task or parameter, it must first be activated in an instantiated checklist so that the task or parameter is also available there. [string]</li><li><b>modules</b>: If an associated module is defined on a task or parameter, it must first be activated in an instantiated checklist so that the task or parameter is also available there. [Array of strings]</li><li><b>optional</b>: Specifies whether a complete task or a single parameter may be skipped when filling out a checklist. Otherwise these are required when filling in the checklist. [boolean]</li><li><b>skill</b>: Specifies whether a task can only be finished by a user with a specific skill. This could be important for audits, for example. [object]</li><li><b>employees</b>: Needed number of employees. Empty if not set. [number]</li><li><b>duration</b>: Expected duration of the task in seconds. Empty if not set. [number]</li><li><b>effort</b>: Planned effort of the task in seconds. Empty if not set. [number]</li>
        notes2: |-
          <li><b>parameters</b>: List of parameters in the current task. All required (not optional) parameters must be filled in to finish a task. Empty if there are no parameters. [Array of objects] <ul><li>The <b>parameter_id</b> identifies the parameter itself in the current task</li><li><b>label</b>: Name or label of the parameter.</li><li><b>optional</b>: Parameter can be omitted or not.</li><li><b>type</b>: Type of the parameter. Possible are <i>text</i>, <i>number</i>, <i>boolean</i>, <i>date</i>, <i>file</i> and <i>selection</i>. [string]</li><li><b>readonly</b>: The parameter is linked with a master data and can only be read.</li><li><b>min</b> / <b>max</b> (type = <i>number</i> required) : Optional lower/upper limit value for a parameter which has to be respected to finish the task. [number]</li><li><b>regex</b> (type = <i>string</i> required) : A regular expression of type HTML5 pattern to define the format of the parameter. Search the internet for more detailed information on regular HTML5 pattern expressions. [string]</li><li><b>selection</b> (type = <i>selection</i> required) : List of key/value pairs which are available for selecting the parameter. [Array of objects]</li><li><b>link_type</b>: Specifies the type of the link.
          <ul>
          <li>document: Document</li>
          <li>knowledge_base_topic: Knowledgebase Topic</li>
          <li>issue: Open Issue</li>
          <li>software_set: Software Set</li>
          <li>maintenance_checklist: Maintenance Checklist</li>
          <li>workflows_checklist: Workflows Checklist</li>
          <li>spare_part: Spare Part</li>
          <li>journal: EquipmentHub Journal</li>
          <li>external: External web link</li>
          </ul>
          </li>
          </ul>
      x-error-response-reference: PKG_REST_DOC standard block (401/404/406/412/500)
  /cloudconnect/api/checklists/v1/template/{template_id}/files/{file_id}:
    get:
      tags:
      - Checklists
      summary: 'Checklists API 1.0 (BA) This interface downloads an attached file from a predefined checklist templa'
      description: |-
[...]
